a.vbtn, button.vbtn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  font-family: verdana;
  font-size: 12px;
  background: linear-gradient(0deg, #c2c2c2, #e5e5e5);
  border: solid 1px #c2c2c2;
  color: #363636;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold; }
  a.vbtn:hover, button.vbtn:hover {
    background: linear-gradient(0deg, #b2b2b2, #e5e5e5);
    border: solid 1px #b2b2b2; }
