// This file contains all of the colors that will be used
// in the coloring if the button backgrounds

// Default button colors
$default-btn-bg-light:   #E5E5E5;
$default-btn-bg-dark:    #C2C2C2;
$default-btn-bg-hover:   #B2B2B2;
$default-btn-text-color: #363636;

// Blue button colors
$blue-btn-bg-light:   #53D0FF;
$blue-btn-bg-dark:    #3E9CBF;
$blue-btn-bg-hover:   #3A92B2;
$blue-btn-text-color: #0C1D24;
$blue-btn-text-color-hover: #081217;

// Red button colors
$red-btn-bg-light: #FF3326;
$red-btn-bg-dark: #B0231A;
$red-btn-bg-hover: #A32119;
$red-btn-text-color: #360B08;
$red-btn-text-color-hover: #1F0605;

// Green button colors
$green-btn-bg-light: #04E51B;
$green-btn-bg-dark: #04C718;
$green-btn-bg-hover: #03AD15;
$green-btn-text-color: #02570A;