// This file contains all of the colors that will be used
// in the coloring if the button backgrounds

// Default button colors
$default-btn-bg-light:   #E5E5E5;
$default-btn-bg-dark:    #C2C2C2;
$default-btn-bg-hover:   #B2B2B2;
$default-btn-text-color: #363636;

// Blue button colors
$blue-btn-bg-light:   #5AC8FF;
$blue-btn-bg-dark:    #4CA8D6;
$blue-btn-bg-hover:   #469AC4;
$blue-btn-text-color: #1A3A4A;

// Red button colors
$red-btn-bg-light: #FF1700;
$red-btn-bg-dark: #BF1200;
$red-btn-bg-hover: #A60F00;
$red-btn-text-color: #190300;