@import "css/scss/colors";

@mixin light-rounded-corners {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

@mixin medium-rounded-corners {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

@mixin heavy-rounded-corners {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a.vbtn, button.vbtn {
	
	@include light-rounded-corners;
	font-family: verdana;
	font-size: 12px;
	background: linear-gradient(0deg, $default-btn-bg-dark, $default-btn-bg-light);
	border: solid 1px $default-btn-bg-dark;
	color: $default-btn-text-color;
	padding: 10px 15px;
	margin:  5px;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		background: linear-gradient(0deg, $default-btn-bg-hover, $default-btn-bg-light);
		border: solid 1px $default-btn-bg-hover;
	}
}