@import "css/scss/colors";

@mixin light-rounded-corners {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

@mixin medium-rounded-corners {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

@mixin heavy-rounded-corners {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

@mixin button-drop-shadow {
	box-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
	-moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
}

@mixin text-drop-shadow {
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
	-moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
	-webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}

// Default button style
a.vbtn, button.vbtn {
	
	// Add lightly rounded corners
	@include light-rounded-corners;
	// Add button drop shadow
	@include button-drop-shadow;
	// Add drop shadow on text
	@include text-drop-shadow;

	display: inline-block;
	font-family: verdana, sans-serif;
	font-size: 12px;
	background: linear-gradient(0deg, $default-btn-bg-dark, $default-btn-bg-light);
	border: solid 1px $default-btn-bg-dark;
	color: $default-btn-text-color;
	padding: 10px 15px;
	margin:  5px;
	text-decoration: none;
	// font-weight: bold;

	&:hover {
		background: linear-gradient(0deg, $default-btn-bg-hover, $default-btn-bg-light);
		border: solid 1px $default-btn-bg-hover;
	}
}

// Update background, border & text colors for blue button
a.vbtn.blue, button.vbtn.blue {
	color: $blue-btn-text-color;
	background: linear-gradient(0deg, $blue-btn-bg-dark, $blue-btn-bg-light 50%);
	border: solid 1px $blue-btn-bg-dark;
	&:hover {
		background: linear-gradient(0deg, $blue-btn-bg-hover, $blue-btn-bg-light 50%);
		border: solid 1px $blue-btn-bg-hover;
		color: $blue-btn-text-color-hover;
	}
}

a.vbtn.blue.flat, button.vbtn.blue.flat {
	background: $blue-btn-bg-light;
	&:hover {
		background: $blue-btn-bg-dark;
	}
}

// Update background, border & text colors for red button
a.vbtn.red, button.vbtn.red {
	color: $red-btn-text-color;
	background: linear-gradient(0deg, $red-btn-bg-dark, $red-btn-bg-light);
	border: solid 1px $red-btn-bg-dark;
	&:hover {
		background: linear-gradient(0deg, $red-btn-bg-hover, $red-btn-bg-light);
		border: solid 1px $red-btn-bg-hover;
	}
}

a.vbtn.green, button.vbtn.green {
	color: $green-btn-text-color;
	background: linear-gradient(0deg, $green-btn-bg-dark, $green-btn-bg-light);
	border: solid 1px $green-btn-bg-dark;
	&:hover {
		background: linear-gradient(0deg, $green-btn-bg-hover, $green-btn-bg-light);
		border: solid 1px $green-btn-bg-hover;
	}
}

a.vbtn.large, button.vbtn.large {
	font-size: 16px;
	padding: 20px 30px;
}

a.vbtn.mini, button.vbtn.mini {
	padding: 3px 6px;
}

a.vbtn.heavy, button.vbtn.heavy {
	font-weight: bold;
}